img {
  width: 90%;
  height: auto;
  /* align-content: center; */
}

header {
  display: flex;
  flex-flow: row;
  background: #6DC0D5;
  /* color: #E4D6A7; */
  color: white;
  padding: 10px;
  align-items: center;
}

h1 {
  width: 25%;
}

#intro {
  width: 70%;
}

p {
  font-size: 12pt;
  /* color: black; */
}

body {
  background: white;
  font-family: Helvetica, sans-serif;
}


.individ-image {
  width: 90%;
  height: auto;
}

#water-cycle-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "image-container text-container";
  padding: 20px;

}

#image-container {
  grid-area: image-container;
}

#text-container {
  grid-area: text-container;
  align-self: center;
}

#why-care {
  /* grid-area: why-care; */
  background: #6DC0D5;
  padding: 15px;
  color: white;

}

#water-use-vis-form {
  background: #EDA412;
  padding: 15px;
  /* color: white; */

}
