img {
  width: 90%;
  height: auto;
  /* align-content: center; */
}

header {
  display: flex;
  flex-flow: row;
  background: #0075C4;
  color: white;
  padding: 10px;
  align-items: center;
}

h1 {
  width: 25%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 40pt;
}
h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 26pt;
}

#intro {
  width: 75%;
}

p {
  font-size: 12pt;
  /* color: black; */
}

body {
  background: white;
  font-family: Helvetica, sans-serif;
}


.individ-image {
  width: 90%;
  height: auto;
}

#water-cycle-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "image-container text-container";
  padding: 20px;
}

#image-container {
  grid-area: image-container;
}

#text-container {
  grid-area: text-container;
  align-self: center;
}

#why-care {
  /* grid-area: why-care; */
  background: #0075C4;
  padding: 5px;
  color: white;
  text-align: center;
}

#water-use-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "water-use-vis-chart water-use-invis-chart"
    "chart-text chart-text";
  padding: 15px;
  height: min-content;
}

#water-use-vis-chart {
  grid-area: water-use-vis-chart;
  /* align-items: center; */
  justify-self: center;
}

#water-use-invis-chart {
  grid-area: water-use-invis-chart;
  justify-self: start;
}

#chart-text {
  grid-area: chart-text;
  padding: 5px;
}

#water-use-content {
  background: #BBDEF0;
}

/* WATER USE FORM */
#water-use-vis-form {
  width: 70%;
  background-color: #BBDEF0;
  padding: 15px;
}

input, button {
    background-color: #404E4D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input:active, button:active, input:hover, button:hover {
  color: #EFA00B;
  background: white;
  font-size: 14pt;
  border: 1px solid black;
}

select {
  width: 20%;
  border: none;
}

.w_use_label{
  width: 45%;
}

#form-container{
  display: flex;
  justify-content: center;
}

.select-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10pt;
}

#button-container{
  display: flex;
  justify-content: center;
  margin-top: 20pt;
}

h4{
  text-align: center;
}

#quiz-container {
  background: #BBDEF0;
  /* display: flex; */
  justify-content: center;
}

#quiz {
  display: flex;
  justify-content: space-around;
}

.q_and_a {
  padding: 20px;
}
.answers {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

#quiz_ends {
  display: flex;
  flex-flow: column;
  padding: 10px;
  align-items: center;
}

#submit {
  margin-left: 40%;
  margin-right: 40%;
}

#results {
  padding: 10px;
}

footer {
  background: #0075C4;
  padding: 5px;
  color: white;
  text-align: center;
}
